/* SERVICES */


/* ABOUT SECTION */
.interactive {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    @include screenMax768 {
        grid-template-columns: 1fr .5fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    &-img {
        grid-row: 1/-1;
        grid-column: 1/3;
        display: flex;
        justify-content: center;
        width: 100%;
        @include screenMax768 {
            justify-content: flex-start;
            align-items: flex-end;
        }
        img {
            height: auto;
            max-width: 100%;
            display: block;
            @include screenMax768 {
                width: auto;
            }
        }
    }
    &-txt {
        background-color: $white;
        padding: 4rem 4rem 0 4rem;
        grid-row: 2;
        grid-column: 2/-1;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include screenMax768 {
            justify-content: flex-end;
            align-items: center;
            text-align: left;
        }
        h2 {
            margin-bottom: 2rem;
            font-size: 3rem;
        }
        p {
            color: $darkGray;
            max-width: 80%;
            @include screenMax768 {
                text-align: left
            }
        }
    }
}


/* OUR CREATIONS SECTION */
.creations {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2rem;
    @include screenMax768 {
        gap: 3rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr min(50rem) min(50rem);
    }
    h2 {
        text-transform: uppercase;
        font-size: 3rem;
        text-align: center;
        @include screenMax768 {
            text-align: left;
            grid-row: 1;
            grid-column: 1/ span 3;
        }
    }
    button {
        background-color: $white;
        border-radius: 0%;
        border: solid $black .1rem;
        padding: .5rem 4rem;
        text-transform: uppercase;
        font-family: $bodyTextFont;
        letter-spacing: .1rem;
        transition: .3s;
        display: inline-block;
        cursor: pointer;
        width: fit-content;
        margin: 0 auto;
        grid-row: 10;
        @include screenMax768 {
            justify-self: end;
            grid-row: 1;
            grid-column: 4/ span 1;
            margin: 0;
        }
        &:hover {
            background-color: $black;
            border: solid $white .1rem;
            color: $white;
        }
    }
    div {
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        transition: .3s;
        min-height: 20rem;
        background-position: center top;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0%;
            left: 0%;
            background-color: $white;
            opacity: 0;
            z-index: 1;
            transition: .3s;
        }
        &:hover::after {
            opacity: .5;
        }
        a {
            color: $white;
            display: inline-block;
            position: relative;
            z-index: 3;
            transition: .3s;
            padding: 2rem;
            font-size: 2rem;
            @include screenMax768 {
                font-size: 3rem;
                padding: 3rem;
            }
        }
        &:hover a {
            color: $black;
        }

    }
    &-deepearth {
        background-image: url(../../images/mobile/image-deep-earth.jpg);
        @include screenMax768 {
            background-image: url(../../images/desktop/image-deep-earth.jpg);
        }
    }
    &-nightarcade {
        background-image: url(../../images/mobile/image-night-arcade.jpg);
        @include screenMax768 {
            background-image: url(../../images/desktop/image-night-arcade.jpg);
        }
    }
    &-soccerteam {
        background-image: url(../../images/mobile/image-soccer-team.jpg);
        @include screenMax768 {
            background-image: url(../../images/desktop/image-soccer-team.jpg);
        }
    }
    &-thegrid {
        background-image: url(../../images/mobile/image-grid.jpg);
        @include screenMax768 {
            background-image: url(../../images/desktop/image-grid.jpg);
        }
    }
    &-fromup {
        background-image: url(../../images/mobile/image-from-above.jpg);
        @include screenMax768 {
            background-image: url(../../images/desktop/image-from-above.jpg);
        }
    }
    &-pocketborealis {
        background-image: url(../../images/mobile/image-pocket-borealis.jpg);
        @include screenMax768 {
            background-image: url(../../images/desktop/image-pocket-borealis.jpg);
        }
    }
    &-curiosity {
        background-image: url(../../images/mobile/image-curiosity.jpg);
        @include screenMax768 {
            background-image: url(../../images/desktop/image-curiosity.jpg);
        }
    }
    &-makeit {
        background-image: url(../../images/mobile/image-fisheye.jpg);
        @include screenMax768 {
            background-image: url(../../images/desktop/image-fisheye.jpg);
        }
    }
}