/* TYPOGRAPHY */
$displayFont:'Josefin Sans', sans-serif;
$bodyTextFont: 'Alata', sans-serif;


/* COLORS */
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);


/* MIXINS RESPONSIVE */
$screenMin1440: 1440px;
$screenMax768: 768px;

@mixin screenMin1440 {
    @media (min-width: #{$screenMin1440}) {
      @content;
    }
}

@mixin screenMax768 {
    @media (min-width: #{$screenMax768}) {
      @content;
    }
}

